/.vs
/XamarinForm/XamarinForm.Android/bin
/XamarinForm/XamarinForm.Android/obj
/XamarinForm/XamarinForm.iOS/bin
/XamarinForm/XamarinForm.iOS/obj
/App1/App1.Android/bin
/App1/App1.Android/obj
/App1/App1.iOS/bin
/App1/App1.iOS/obj
/XamarinForm/XamarinForm.Android/hs_err_pid11908.log
/XamarinForm/XamarinForm.Android/hs_err_pid9912.log
/XamarinForm/XamarinForm.Android/replay_pid11908.log
/XamarinForm/XamarinForm.Android/replay_pid9912.log
