/.vs
/XamarinForm/XamarinForm.Android/bin
/XamarinForm/XamarinForm.Android/obj
/XamarinForm/XamarinForm.iOS/bin
/XamarinForm/XamarinForm.iOS/obj
/App1/App1.Android/bin
/App1/App1.Android/obj
/App1/App1.iOS/bin
/App1/App1.iOS/obj